*{
	font-family: cursive;
}
body{
	margin: 0;
	padding: 0;
}
.navbar{
	background: #fff;
	overflow: hidden;
	box-shadow: 5px 5px 10px #aaa;
}
.navbar a{
	color: black;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding: 16px;
}
.btn{
	font-size: 20px;
	font-weight: bold;
	padding: 16px;
	background: #fff;
	border: none;
}
.dropdown{
	float: left;
}
.sub{
	position: absolute;
	background: #ddd;
	display: none;
}
.sub a{
	display: block;
	float: none;
}
.navbar a:hover,.btn:hover{
	background: red;
	color: #fff;
}
.dropdown:hover .sub{
	display: block;
}
.welcome{
	display: flex;
	justify-content: center;
	padding: 100px 0px;
}
.welcome div{
	width: 40%;
	margin: 10px;
	text-align: justify;
	font-size: 20px;
	line-height: 45px;
}
.welcome h1{
	color: red;
}
.welcome button{
	background: #222;
	color: #fff;
	padding: 10px 18px;
	font-size: 16px;
	border: 7px solid #444;
	border-radius: 25px;
}
.activity{
	display: flex;
	justify-content: center;
}
.activity > div{
	width: 25%;
	margin: 20px;
}
.activity img{
	border-radius: 30px;
}
span{
	color: red;
}
.activity > div > p{
	color: #555;
}
.activity1{
	display: flex;
	justify-content: center;
}
.activity1 > div{
	background: url(img/4.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: #000;
	padding: 0px 10px;
	margin: 5px;
	border-radius: 10px;
}
#video{
	text-align: center;
	padding: 70px 0px;
}
.video{
	display: flex;
	justify-content: center;
}
.video div{
	width: 40%;
	margin: 10px;
}